<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="width:100%;text-align:center">
    <form style="" action="/sso-server/login" method="post">
        <span>[[${msg}]]</span></br>
        <input type="hidden" name="url" th:value="${url}" ></br>
        用户名：<input name="name" type="text"/> </br>
        密  码：<input name="password" type="password"/> </br>
        <button type="submit">提交</button>
    </form>
</div>

</body>
</html>